/* Estado inicial padrão */
.animate {
  opacity: 0;
  transition: 0.8s ease;
}

/* Direções */
.fade-up {
  transform: translateY(40px);
}

.fade-left {
  transform: translateX(-40px);
}

.fade-right {
  transform: translateX(40px);
}

/* Estado ativo (JS adiciona) */
.animate.show {
  opacity: 1;
  transform: translate(0);
}
