@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Base */
body {
    font-family: 'Public Sans', sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.logo .imagem {
    display: flex;
    width: 115px;
    margin: 0 25px;
    align-items: center;
    justify-content: center;
}
.logo .titulo {
    margin-left: 7px;
    font-size: 17px;
    font-weight: 800;
    transition: color 0.3s ease-in-out;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.cabecalho .navegacao {
    padding-top: 0;
}
.cabecalho .navegacao .menu {
    display: flex;
}
.cabecalho .navegacao .menu .item {
    margin: 10px;
}
.cabecalho .navegacao .menu .item a {
    padding: 8px;
    color: #070f2e;
    transition: color 0.3s ease-in-out;
}
.cabecalho .navegacao .menu .item a:hover {
    color: rgb(223, 82, 31);
    text-decoration: underline;
    text-underline-offset: 6px;
}
@media (max-width: 624px) {
    .cabecalho {
        justify-content: center;
        max-width: 456px;
        padding: 0;
    }
    .cabecalho .logo {
        margin-bottom: -10px;
    }
    .navegacao .menu .item a {
        font-size: calc(0.6em + 1vw);
    }
}

/* Painel */
.conteudo-principal .paineis {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 760px;
    position: relative;
}
.conteudo-principal .paineis::after {
    content: '';
    background: url('../imagens/seta-branca.png') no-repeat center/contain;
    width: 65px;
    height: 65px;
    position: absolute;
    bottom: 5px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}
@keyframes downarrow {
    0% { transform: translateY(0); opacity: 0.4; }
    100% { transform: translateY(0.4em); opacity: 0.9; }
}

@media (max-width: 456px) {
    .conteudo-principal .paineis {
        height: 500px;
    }

    .paineis h1 {
        font-size: 25px;
        padding-top: 2px;
    }
    .paineis p {
        padding-top: 45px;
    }
}

@media (min-width: 524px) and (max-width: 648px) {
    .paineis h1 {
        padding-bottom: 35px;
    }

    .paineis p {
        padding-top: 18px;
    }
}
.conteudo-principal .paineis .imagem-painel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(40%);

    opacity: 0;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.conteudo-principal .paineis .projeto1 {
    background-image: url('../imagens/ft5.png');
}

.conteudo-principal .paineis .projeto2 {
    background-image: url('../imagens/ft3.png');
}

.conteudo-principal .paineis .projeto3 {
    background-image: url('../imagens/ft2.png');
}

.conteudo-principal .paineis .imagem-painel.mostrar {
    opacity: 1;
}

.conteudo-principal .paineis .titulo {
    color: #fff;
    text-transform: uppercase;
    font-size: calc(1em + 1vw); /* Tamanho da fonte responsivo */
}

.conteudo-principal .paineis .seta {
    background: url('../imagens/seta.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    text-indent: 100%;
    overflow: hidden;
}

.conteudo-principal .paineis .seta.btn-voltar {
    left: 20px;
    transform: rotate(180deg);
}

.conteudo-principal .paineis .seta.btn-avancar {
    right: 20px;
}

.opacidade {
    opacity: 0.6;
    cursor: default;
}
/* PAINEL */



/* SERVIÇOS */
.container {
    max-width: 100px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    margin: 80px;
}

.title h2 {
    font-size: 35px;
    text-align: center;
    font-weight: 550;
    color: #10121a;
}

.title h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    margin: 10px auto 0 auto;
    background: #1ed760;
    border-radius: 2px;
}

.informacoes {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 80px;
}

.informacao {
    box-shadow: 0 6px 15px rgb(102 51 153 / 0.25);
    cursor: pointer;
    max-width: 300px;
    padding: 30px 25px;
    border-radius: 20px;
}

.informacao:hover {
    transform: translateY(5px);
    transition: .3s ease-in-out;
    box-shadow: 0 10px 25px rgb(102 51 153 / 0.5);
}

.icone img {
    width: 5rem;
    justify-self: center;
}

.informacao h3 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 20px;
}

.informacao p {
    font-size: 15px;
    line-height: 1.6;
}
/* SERVIÇOS */



/* SOBRE NÓS */
.sobre-nos {
    background-color: #070f2e;
}

.sobre-nos .conteudo {
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.sobre-nos .conteudo .imagem {
    width: 65%;
    padding: 50px;
}

.sobre-nos .conteudo .informacoes .titulo {
    font-size: 40px;
    color: #9fe9b9;
    margin-bottom: 20px;
}

.sobre-nos .conteudo .informacoes .texto {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
}

@media (max-width: 568px) {
    .sobre-nos .conteudo .imagem {
        width: 80%;
        padding: 0;
    }
}

@media (max-width: 1200px) {
    .sobre-nos .conteudo {
        flex-direction: column;
        text-align: center;
        padding: 100px 30px;
    }

    .sobre-nos .conteudo .informacoes {
        width: 100%;
        margin-bottom: 40px;
    }
}
/* SOBRE NÓS */



/* RODAPE */
.contatos {
    padding: 80px 0 20px 0;
}

.contatos .navegacao {
    max-width: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.contatos .contato {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.contatos .contato a {
    display: flex;
    align-items: center;
}

.contatos .contato i {
    padding: 0 10px;
}

.contatos .contato h2 {
    font-size: 18px;
    color: #111;
    margin: 10px;
}

.contatos .contato p {
    color: #111;
}

.contatos .navegacao .servicos-rodape {
    padding-top: 38px;
}

.contatos .navegacao .servicos-rodape h2 {
    color: #111;
    font-size: 18px;
    margin: 10px;
}

.contatos .navegacao .servicos-rodape ul {
    list-style-type: disc;
}

.redes-sociais h2 {
    font-size: 18px;
    color: #111;
    padding-top: 8px;
    justify-content: center;
    display: flex;
    margin: 25px;
}

.redes-sociais .icones {
    flex-direction: row;
    display: flex;
}

.contatos .navegacao .redes-sociais a {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-size: 30px;
    border: 2px solid #111;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.contatos .redes-sociais a:hover {
    background-color: #1ed760;
    border: none;
    transition: 0.3s ease-in-out;
}

.rodape {
    display: flex;
    flex-direction: row;
    margin: 0 25px;
}

.copyright {
    margin-top: 55px;
    color: #0d1811;
    left: -15px;
    position: relative;
}

@media (max-width: 768px) {
    .contatos .navegacao {
        justify-content: center;
    }

    .rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rodape .logo {
        margin: 25px;
    }

    .copyright {
        margin: 0 auto;
    }
}

/* RODAPE */